{{with .Result}}
  <div class="qor-actionbar__left">
    <div class="qor-actionbar__logo"><img src="{{.RouterPrefix}}/assets/images/logo-qor.png?theme=action_bar" width="45px" /></div>
  </div>
{{end}}
